
      body {
        padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
        font: 55.0% "Trebuchet MS", sans-serif;
		margin: 5px;
		-webkit-text-size-adjust: none;
      }
  .container{
	width: 600px; 
	margin: auto;
  }
      
  #mediaspace {
    width: 416px;
    height: 240px;
   	border:1px solid #dfdfdf;
    outline: none;
    padding:0px;
	background-repeat: no-repeat;
	background-color: #000;
/*	margin:auto;*/
  }
#mediaspace_wrapper {
    width: 416px;
    height: 240px;
   	border:0px solid #dfdfdf;
    outline: none;
    padding:0px;
	background-repeat: no-repeat;
	background-color: #000;
/*	margin:auto;*/
  }  
  
  	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	
	.nav li {
		display: inline-table;
	}
	.menu {
  height: 50px;
 // left: 0;
  position:fixed;
  top: 0;
   z-index: 9001;
   background-color: #dfdfdf;
   width: 90%;
   margin: auto;
   height: 20px;
   padding:10px;
   font-size: 12px;
}
.menu a{
padding-left: 10px;
font-weight: bold;
}
 #toolbar {
padding: 2px;
display: inline-block;
font-size: 11px;
}
/* support: IE7 */
*+html #toolbar {
display: inline;
}

.red{
background-color: red !important;
color:black!important;
}

#red{
background-color: red !important;
color:black!important;
}
.rows {
	list-style-type: none;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 0px;
	width: 380px;
	padding:3px;	
	font-size: 11px;
	}

.rows:hover{
	background-color: #dfdfdf;
	border-bottom: 1px solid #fff;
	}
	
.filem{
margin-top: 10px;
height:100px;
overflow:scroll;
width: 400px;
overflow-x: hidden;
border:1px dotted #afafaf;
background-color: #fff;
	}
	
.src_stats{
	padding: 3px;
	border: 1ps solid #dfdfdf;
	width: 80px;
	margin:2px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: #dfdfd;
	}

.lined{
display: inline;	
	}	

.filectrl{
float:right;
border-left:1px solid #dfdfdf;
border-right:1px solid #dfdfdf;
padding-left:3px;	
padding-right:3px;
background-color: #fff;
	}	
	
#radio{
	display: inline-table;	
	}	
 
 .pad-small{
line-height: 0px;
border:0px;
margin: 0px;
padding: 0px;
 font-size: 1px;
 height: 3px;
 	}
 	
 	                      
 	                      
 	                      
 	                      